h1 {
    background-color: green;
    color: white;
}

.h1Format {
    background-color: aliceblue;
    color: black;
}

.pFormat {
    font-size: 20px;
}

img {width: 10%;}

.h1Class {
    text-align: center;
}

a {
    color: blue;
}

a:hover {
    color: yellow;
}

.faves {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}